.headerSiteLogo {
  position: absolute;
  left: 9rem;
  top: 2.9rem;
  z-index: 6;
  font-size: 1.8rem;
}

.hamburgerIcon {
  margin: 0.6rem 0 0;
  cursor: pointer;
  z-index: 2
}

.hamburgerLine1,
.hamburgerLine2,
.hamburgerLine3 {
  width: 2rem;
  height: 0.2rem;
  background-color: black;
  margin: 0.4rem;
}

.hamburgerNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 27rem;
  padding: 0em 0rem 0rem 0rem;
  height: 42rem;
  color: black;
  background-color: white;
  z-index: 1;
  letter-spacing: 0.02rem;
  font-weight: 400;
  font-size: 1.8rem;
  user-select: none;
  transform: translateX(-27rem);
}

.fadeBackground {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  display: none;
}

.hamburgerLogo {
  margin-left: 3rem
}

.hamburgerNav > ul {
  margin-top: 7.8rem
}

.hamburgerNav > ul > hr {
  margin: 0.8rem 0 0.8rem 3rem;
  width: 19.8rem;
}

.hamburgerNav > ul > li {
  cursor: pointer;
  line-height: 4rem;
  font-size: 1.7rem
}

.hamburgerNav > ul > li > a {
  margin-left: 7.8rem;
  color: #5b5b5b;
  display: block;
}

.hamburgerNav > ul > li {
  padding: 0;
}

li:hover {
  background-color: #eeeeeebf;
  display: block;
}

.magnifyBackground {
  background-color: #F8F8F8;
  width: 6.4rem;
  height: 3.2rem;
  border-top: 1px solid $component-border-dark-grey;
  border-bottom: 1px solid $component-border-dark-grey;
  border-right: 1px solid $component-border-dark-grey;
  &:hover {
    cursor: pointer;
    background-color: #f0f0f0
  }
}

.searchBox {
  height: 3.2rem;
  width: 50vw;
  max-width: 57rem;
  font-family: Roboto;
  border: 1px solid $component-border-dark-grey;

  &[type="search"] {
    padding-left: 1.2rem;
  }
}

.searchBar {
  display: flex;
}

.magnifyIcon {
  fill: #979797;
  position: relative;
  left: 2rem;
  top: 0.6rem;
}

.avatarPlaceholder {
  background-color: purple;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  border-radius: 99rem;
  cursor: pointer;
}

// USER MENU
.header > .avatarPlaceholder {
  z-index: 4
}
.userMenu {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0rem;
  width: 24rem;
  padding: 0;
  height: min-content;
  padding-bottom: 2rem;
  color: black;
  background-color: white;
  z-index: 1;
  letter-spacing: 0.02rem;
  font-weight: 400;
  font-size: 1.8rem;
  outline: 1px solid $divider-line-grey;
  user-select: none;
  display: none;
}

.userMenu > ul {
  margin-top: 1.8rem
}

.userMenu > ul > hr {
  margin: 0.8rem 0 0.8rem 3rem;
  width: 19.8rem;
}

.userMenu > ul > li {
  cursor: pointer;
  line-height: 4rem;
  font-size: 1.7rem
}

.userMenu > ul > li > a {
  margin-left: 5rem;
  color: #5b5b5b;
}

.header {
  padding: 2.1rem 2.1rem 0 2.1rem;
  height: 7.8rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.show {
  display: unset;
}

.hide {
  display: none;
}

@media screen and (max-width: 850px) {
  .searchBar {
    margin-left: 9rem;
  }
}

// ANIMATIONS
.slideIn {
  animation: slide-in 277ms ease; 
  animation-fill-mode: forwards;
}

.slideIn > ul > li:nth-of-type(1) {
  animation: slide-in 396ms ease;
}

.slideIn > ul > li:nth-of-type(2) {
  animation: slide-in 425ms ease;
}

.slideIn > ul > li:nth-of-type(3) {
  animation: slide-in 464ms ease;
}

.slideIn > ul > li:nth-of-type(4) {
  animation: slide-in 478ms ease;
}

.slideIn > ul > li:nth-of-type(5) {
  animation: slide-in 519ms ease;
}

.slideIn > ul > li:nth-of-type(6) {
  animation: slide-in 556ms ease;
}

.slideIn > ul > li:nth-of-type(7) {
  animation: slide-in 601ms ease;
}

.slideOut {
  animation: slide-out .2s ease;
  animation-fill-mode: both;
}

.fadeBackground {
  animation: .9s linear fade-in;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% { transform: translateX(-27rem);}
  100% { transform: translateX(0rem);}
}

@keyframes slide-out {
  100% { transform: translateX(-27rem);}
  0% { transform: translateX(0);}
}

@keyframes fade-in {
  0% { background-color: rgba(0, 0, 0, 0);}
  100% { background-color: rgba(0, 0, 0, 0.4);}
}