.hide {
  display: none;
}

.show {
  display: unset;
}

.flex-center {
  justify-content: center;
}

.highlightedText {
  color: #5E5E5E;
}

.unhighlightedText {
  color: rgba(94, 94, 94, 0.5);
}

.backgroundBlue {
  background-color: blue;
}

.flex {
  display: flex;
}

.flex-wrapper {
  display: flex;
  justify-content: space-around;
}

.clickable {
  cursor: pointer;
}

.button-background-red {
  fill: #CC0000;
  color: #CC0000;
}

.border {
  outline: 5px solid pink;
}




