// Fonts
@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


// Colors
$page-background-grey: #F1F1F1
$component-background-white: #FFFFFF
$component-border-grey: #DEDEDE
$component-border-dark-grey: #CCCCCC
$header-black: #5E5E5E
$header-faded-black: rgba(94,94,94,0.5)
$divider-line-grey: #D9D9D9
$pure-black: #000000

$comment-black: #121212
$comment-title-black: #0d0d0d
$comment-reply-blue: #065fd4

$button-background-red: #CC0000
$button-foreground-yellow: #FEFFB9
$button-foreground-white: #FFFFFF


body 
  background-color: $page-background-grey
  font-family: Roboto


// HEADER
.magnifyBackground
  background-color: #F8F8F8
  width: 6.4rem
  height: 3.2rem
  border-top: 1px solid $component-border-dark-grey
  border-bottom: 1px solid $component-border-dark-grey
  border-right: 1px solid $component-border-dark-grey
  cursor: pointer

.searchBox
  height: 3.2rem
  width: 57.5rem
  font-family: Roboto
  border: 1px solid $component-border-dark-grey

.searchBox::placeholder
  padding-left: 1.2rem

.searchBar
  display: flex

.magnifyIcon
  fill: #979797
  position: relative
  left: 2rem
  top: .6rem

.hamburgerMenu
  margin-top: .6rem
  cursor: pointer

.hamburgerLine
  width: 2rem
  height: .2rem
  background-color: black
  margin: .4rem

.avatarPlaceholder
  background-color: purple
  width: 3rem
  height: 3rem
  border-radius: 99rem
  cursor: pointer

  &--comments
    background-color: #a2a7dc
    width: 3.5rem
    height: 3.5rem
    border-radius: 99rem
    cursor: pointer
    position: relative
    left: 2.3rem
    top: 6.6rem

.header 
  padding: 2.1rem 2.1rem 0 2.1rem 
  height: 7.8rem
  display: flex
  justify-content: space-between
  background-color: $component-background-white


// HOMEPAGE GRID
.gridHomepageContainer
  background-color: $component-background-white
  position: absolute
  width: 1202.91px
  height: 1599.47px
  left: 674.95px
  top: 112.47px


// ACTIVITY FEED
.activityFeedContainer
  background-color: $component-background-white
  position: absolute
  width: 626.07px
  height: 1268.35px
  left: 17.08px
  top: 112.47px

.commentSection--activityfeed
  font-family: Roboto
  color: $header-black

.activityFeedTitle
  display: flex
  justify-content: center
  margin: 3rem 0 3rem 0
  color: $header-black
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 28px
  letter-spacing: .02rem


.commentContainer
  margin: 3rem 6rem 0rem 8rem
  
  &:first-child
    margin-top: 6rem

.commentorName
  font-weight: 600
  display: inline-block

.dateOfComment
  display: inline-block
  margin: 0 0 .5rem 1.2rem
  font-size: 1.3rem

.comment
  margin: 0.3rem 0rem 1rem 0rem

.viewComment
  font-size: 1.4rem

hr
  width: 85%
  background-color: $divider-line-grey 
  height: .1rem
  border: 0

.viewComment
  cursor: pointer

.thumbsDownIcon
  margin-left: 1.5rem

.thumbs, .replyText
  display: inline-block

.replyText
  color: $header-black
  font-size: 1.2rem
  font-weight: 600
  margin-left: 1rem

