// Fonts
@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap')
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


// Colors
$text-grey: #606060
$page-background-white: #F8F8F8
$component-background-white: #F8F8F8
$component-border-grey: #DEDEDE
$component-border-dark-grey: #CCCCCC
$header-black: #5E5E5E
$header-faded-black: rgba(94,94,94,0.5)
$divider-line-grey: #D9D9D9
$pure-black: #000000

$comment-black: #474747
$comment-title-black: #0d0d0d
$comment-reply-blue: #065fd4

$button-background-red: #CC0000
$button-foreground-yellow: #FEFFB9
$button-foreground-white: #FFFFFF


body 
  background-color: $page-background-white
  font-family: Roboto

.flex
  display: flex

.flex-wrapper 
  display: flex
  justify-content: space-around

// HEADER
.magnifyBackground
  background-color: #F8F8F8
  width: 6.4rem
  height: 3.2rem
  border-top: 1px solid $component-border-dark-grey
  border-bottom: 1px solid $component-border-dark-grey
  border-right: 1px solid $component-border-dark-grey
  cursor: pointer

.searchBox
  height: 3.2rem
  width: 57.5rem
  font-family: Roboto
  border: 1px solid $component-border-dark-grey

  &[type="search"] 
    padding-left: 1.2rem

.searchBar
  display: flex

.magnifyIcon
  fill: #979797
  position: relative
  left: 2rem
  top: .6rem

.hamburgerMenu
  margin-top: .6rem
  cursor: pointer

.hamburgerLine
  width: 2rem
  height: .2rem
  background-color: black
  margin: .4rem

.avatarPlaceholder
  background-color: purple
  width: 3rem
  height: 3rem
  border-radius: 99rem
  cursor: pointer

  &--comments
    background-color: #a2a7dc
    width: 7.3rem
    height: 7.3rem
    border-radius: 99rem
    cursor: pointer
    position: relative
    left: 3.8rem
    top: 4.6rem

.header 
  padding: 2.1rem 2.1rem 0 2.1rem 
  height: 7.8rem
  display: flex
  justify-content: space-between
  background-color: #FFFFFF


// ACTIVITY FEED
.activityFeedContainer
  background-color: $component-background-white
  border: 1px solid $component-border-grey
  width: 62.6rem
  height: 1675px
  left: 17.08px
  top: 112.47px

.commentSection--activityfeed
  margin-top: -1.1rem
  font-family: Roboto
  color: $header-black

.activityFeedTitle
  display: flex
  justify-content: center
  margin: 2.9rem 0 2.7rem 0
  color: $header-black
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 28px
  letter-spacing: .02rem


.commentContainer
  margin: -3rem 6rem 1.2rem 13.4rem
  
.commentorName
  font-weight: 600
  display: inline-block
  color: $comment-black
  font-size: 1.4rem
  letter-spacing: 0.04rem

.dateOfComment
  display: inline-block
  margin: 0 0rem 0.5rem 0.6rem
  font-size: 1.3rem
  color: #6b6b6bf7
  letter-spacing: -0.04rem

.comment
  margin: 0.3rem 0rem 0.9rem 0rem
  color: $comment-black

hr
  width: 85%
  background-color: $divider-line-grey 
  border: 0
  height: 0.1rem

.home--activityfeed-hr
  position: relative
  bottom: 0.4rem
  margin-left: 4rem
  
a 
  color: $comment-reply-blue

.viewComment
  font-size: 1.4rem
  cursor: pointer
  font-weight: bold
  line-height: 1.6rem
  color: $comment-reply-blue
  margin: 0rem 0rem 0 0.7rem

.thumbs
  margin-left: .1rem

.thumbsDownIcon
  margin-left: 1.5rem

.thumbsUpIcon
  position: relative
  top: -0.1rem

.thumbs, .replyText
  display: inline-block
  fill: #848484

.replyText
  position: relative
  top: -0.4rem
  color: #727272
  font-size: 1.3rem
  font-weight: 600
  margin-left: 1.6rem

.arrowDrop
  position: relative
  left: -0.8rem
  top: 0.4rem
  fill: $comment-reply-blue


// GRID (base styles)
.home--grid, .channel--grid
  &-background
    background-color: $component-background-white
    border: 1px solid $component-border-grey
    width: 120.3rem
    height: 1675px
    left: 674.95px
    top: 112.47px


  &-nav
    display: flex
    margin: 3.3rem 0rem 0rem 5.1rem

    &-following,
    &-recommended,
    &-subscriptions
      font-family: Sarabun
      font-size: 1.8rem
      color: $header-faded-black
      font-weight: bold
      margin-right: 5rem
      cursor: pointer

    &-following
      color: $header-black

  &-hr-nav-grey
    margin: 2.6rem 0 1.9rem 3.8rem
    width: 93.5%
    background-color: $divider-line-grey

  &-hr-nav-black
    position: relative
    right: -4rem
    bottom: 2rem
    background-color: $pure-black
    width: 12.8rem

.home--grid, .channel--grid  
  display: grid 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  grid-gap: 3.4rem 1.4rem
  margin: 0.7rem 5rem 0 5rem

  &-content-wrapper
    margin-left: auto
    margin-right: auto

  &-video
    width: 21.2rem
    height: 11.9rem
    background-color: #2c2c2c

  &-avatar-placeholder
    background-color: #a2a7dc
    width: 3rem
    height: 3rem
    border-radius: 99rem
    cursor: pointer
    float: left
    margin-top: 1.3rem
    margin-right: 1.1rem

  &-title
    margin-top: 1.4rem
    font-size: 1.4rem
    font-weight: bold
    color: #474747
  &-author
    color: #606060
    margin: 0.7rem 0rem 0.2rem 0
    font-size: 1.3rem
    letter-spacing: .02rem
    padding-left: 4rem
  &-views
    color: #606060
    font-size: 1.2rem
    letter-spacing: .02rem
    padding-left: 4rem
  &-date

.home--grid, .channel--grid
  &-date-hr-container
    margin: 7.1rem 0 5.18rem 0
    width: 100%

  &-date-hr-grey-right
    position: relative
    left: 72rem
    width: 33%
    background-color: $divider-line-grey

  &-date-hr-grey-left
    position: relative
    background-color: $divider-line-grey
    width: 33%
    left: 6rem

  &-divider-date-text
    display: inline-block
    color: black
    position: relative
    bottom: 6.8rem
    left: 52rem
    font-weight: bold
    font-size: 22px


// GRID (Channel Styles)
.channel--grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  grid-gap: 3.4rem 1rem
  margin: 0rem 1.5rem 0 2rem


  &-hr-nav-black
    width: 9rem

  &-nav-follow
    background-color: #CC0000
    color: white
    padding: 0.9rem 3.1rem
    right: 6rem
    top: 59.8rem

  &-video
    width: 28.4rem
    height: 16.7rem

  &-author, &-views
    padding-left: 0

  &-avatar-placeholder,
  &-date-hr-container,
  &-divider-date-text,
  &-content-wrapper:nth-last-child(-n+3) 
    display: none

// Channel Page Above the Fold
.channel--aboveFold
  &-avatar-text-wrapper
    margin-bottom: 1.5rem

  &-name-text
    display: block
    font-weight: bold
    font-size: 24px
    line-height: 28px
    margin-bottom: .4rem

  &-follower-text
    display: block
    font-weight: bold
    font-size: 14px
    line-height: 16px
    color: #979191

  &-wrapper 
    display: flex
    justify-content: space-between
    margin: 5rem 5rem 7rem 5rem

  &-avatar
    width: 291.65px
    height: 291.65px
    background-color: #a2a7dc
    margin-left: 2rem

  &-description-box
    background-color: white
    padding: 2.5rem 3rem 3rem 3rem
    width: 80.1rem
    height: 31.1rem
    margin-top: 4.3rem
    outline: 1px solid #ccc
    margin-right: 3.5rem

    & h2
      font-size: 2rem
      margin-bottom: .5rem

  &-subscribers-box
    display: grid
    grid-template-columns: repeat(13, 1fr)
    grid-template-rows: repeat(7, 1fr)
    height: 31.5rem
    width: 54rem
    margin: 1rem 0 0 0
    grid-gap: 1rem
    padding: 1rem
    background-color: white

    &-wrapper
      margin-right: 2rem

    &-title
      font-family: Sarabun
      font-weight: bold
      font-size: 24px
      line-height: 31px
      color: black
      margin-bottom: 1rem

    &-bottom-text
      font-weight: bold
      font-size: 16px
      line-height: 19px
      color: #847D7D
      display: flex
      justify-content: flex-end
      margin-top: .5rem

  &-subscriber-avatar
    margin: 0 0 0 0
    background-color: #a2a7dc




// VIDEO PAGE
.videoPage
  &-body
    background-color: $component-background-white
    
  &-page-wrapper
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    margin: 5rem 8.6rem 0 8.6rem

  &-sidebar
    &-text-top
      display: flex
      justify-content: space-between
    &-text-upnext
    &-text-autoplay
    &-grid-wrapper
      margin: 1.5rem 0 0 0
      display: grid
      grid-gap: 1rem

    &-grid-video
      width: 202.33px
      height: 109.04px
      background: purple
      float: left
      margin-right: 1rem
    &-grid-video-wrapper
    &-grid-video-title
      font-weight: 500
      font-size: 1.4rem
      color: $comment-black
      margin: 0 0 .4rem 21.2rem
    &-grid-video-author
      color: $text-grey
      margin: 0 0 0 21.2rem
      font-size: 1.3rem
      letter-spacing: 0.02rem
    &-grid-video-recommended-text
      color: $text-grey
      margin: 0 0 0 21.2rem
      font-size: 1.3rem
      letter-spacing: 0.02rem

  &-video
    width: 1205.75px
    height: 674.78px
    background: red

    &-wrapper
      margin-right: 5rem

    &-info-wrapper
      display: flex
      justify-content: space-between
      margin-top: 1.5rem

    &-title-box
      margin-left: 1.3rem

    &-title
      margin-bottom: 0.4rem
      font-weight: 500
      font-size: 1.8rem
      line-height: 28px
      color: #1E1E1E

    &-views
      font-size: 1.4rem
      margin-right: 1rem
      letter-spacing: .02rem

    &-date
      font-size: 1.4rem
      letter-spacing: .02rem

    &-options-thumbs
      margin-right: 5rem
      position: relative
      right: 1rem
    &-options-share
      margin-right: 3rem
      font-size: 1.4rem
    &-options-save
      margin-right: 3rem
      font-size: 1.4rem
    &-options-ellipses
      margin-right: 1rem

  &-description-box
    margin-top: 3.7rem
    outline: 1px solid grey 
    height: 48rem
    width: 122.4rem

  &-new-subscribers
    &-text
      margin: 3.3rem 0rem 0.6rem 0rem
      font-size: 18px
      font-weight: normal
      line-height: 23px
      color: #474747
    &-wrapper
      width: 97.4%
    &-grid
      display: flex
      justify-content: space-between
      margin-bottom: 7rem
    &-subscriber-avatar
      width: 5rem
      height: 5rem
      background-color: blue

  &-number-of-comments
    margin: 0 3rem 0rem 4rem


  &-add-comment-avatar
    background-color: #a2a7dc
    width: 7.3rem
    height: 7.3rem
    border-radius: 99rem
    cursor: pointer
    margin: 4rem 0rem 0rem 3.7rem

  &-add-comment
    margin-top: 6.5rem
    margin-left: 2rem
    color: #b0b0b0

  &-add-comment-hr
    width: 84%
    position: relative
    left: 13rem
    bottom: 2rem

  &-comment-section
    margin-left: 7rem
    width: 118rem
  &-comment-avatar
    background-color: #a2a7dc
    width: 7.3rem
    height: 7.3rem
    border-radius: 99rem
    cursor: pointer
    position: relative
    left: 3.8rem
    top: 4.6rem
  &-comment-container
    margin: -3rem 6rem -0.8rem 13.4rem



